$black:#333;
$orange:#cc6633;
$green: hsl(76, 60%, 50%);
$whiteLightness: 100%;
$white: hsl(0,0%,$whiteLightness);
$gray-4: hsl(0, 0%, 96%);
$gray-5: hsl(0, 0%, 95%);
$gray-15: hsl(0, 0%, 85%);
$gray-23: hsl(0, 0%, 77%);
$gray-40: hsl(0, 0%, 60%);
$gray-60: hsl(0, 0%, 40%);

